#shipHeaderEdit-obj_ship_version-container .fgta5-entry-input-wrapper,
#shipHeaderEdit-obj_ship_version {
	width: 45px;
}


#shipHeaderEdit-obj_calculate-container {
	margin-left: 60px;
}

#shipHeaderEdit-obj__commit-container {
	margin-left: 30px;
}