@media screen and (min-width: 501px) {

	div[name="panel-record-basic"] {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}

	div[name="panel-record-basic"]>div:nth-child(3) {
		grid-column: span 2;
		margin: 20px 10px 0 10px;

	}


}